//- Refs:
  - https://wicg.github.io/local-font-access/
  - https://web.dev/optimize-webfont-loading/#api-zagruzki-shriftov
  - https://w3c.github.io/csswg-drafts/css-fonts-4/#font-face-rule
  - https://drafts.csswg.org/css-fonts-4/#font-face-src-parsing
  - https://github.com/jedmao/postcss-font-pack

append vars
  -
    let SuisseScreen = [
      {
        'fullName': 'SuisseScreen-Monitor',
        'varAxes': false
      },
      {
        'fullName': 'SuisseScreen-MonitorItalic',
        'varAxes': false
      },
      {
        'fullName': 'SuisseScreen-Medium',
        'varAxes': false
      },
      {
        'fullName': 'SuisseScreen-MediumItalic',
        'varAxes': false
      },
      {
        'fullName': 'SuisseScreen-SemiBold',
        'varAxes': false
      },
      {
        'fullName': 'SuisseScreen-SemiBoldItalic',
        'varAxes': false
      },
      //- {
      //-   'fullName': 'SuisseScreen-Bold',
      //-   'varAxes': false
      //- },
      //- {
      //-   'fullName': 'SuisseScreen-BoldItalic',
      //-   'varAxes': false
      //- },
    ]
  -
    let familyName = 'MaisonNeue' // ['MaisonNeue', 'MaisonNeueMono']
    let MaisonNeue = [
      {
        'fullName': `${familyName}-Book`,
        'varAxes': false,
        'style': 'normal',
        'weight': 400
      }, {
        'fullName': `${familyName}-BookItalic`,
        'varAxes': false,
        'style': 'italic',
        'weight': 400
      //   'fullName': `${familyName}-Demi`,
      //   'varAxes': false,
      //   'style': 'normal',
      //   'weight': 600
      // }, {
      //   'fullName': `${familyName}-DemiItalic`,
      //   'varAxes': false,
      //   'style': 'italic',
      //   'weight': 600
      }, {
        'fullName': `${familyName}Extended-Bold`,
        'varAxes': false,
        'style': 'normal',
        'weight': 700
      }, {
        'fullName': `${familyName}Extended-Medium`,
        'varAxes': false,
        'style': 'normal',
        'weight': 500
      }
    ]
    let MaisonNeueMono = [
      {
        'fullName': `MaisonNeueMono-Regular`,
        'localName': '',
        'varAxes': false,
        'style': 'normal',
        'weight': 400
      }
    ]
  -
    let pathName = 'fonts' //, sub = '/MaisonNeue'
    let typeName = 'font'
    let fontFaces = [
      ...MaisonNeue,
      // ...MaisonNeueMono,
    ]

each fontFace in fontFaces
  -
    let { fullName, varAxes, style, weight } = fontFace
  -
    let file = `./${pathName}/${fontFace.fullName}`,
        format = !fontFace.varAxes ? 'woff2' : 'woff2-variations'
  link(
    rel="preload"
    href=`${file}.woff2` as=typeName
    type=`${typeName}/${format}`
    crossorigin)
  -
    let cssFontRule = `@font-face {
      font-display: swap;
      font-family: ${familyName};
      font-stretch: 100%;
      font-style: ${style};
      font-synthesis: none;
      font-weight: ${weight};
      src:
        url(./${pathName}/${fullName}.woff2) format('woff2'),
        url(./${pathName}/${fullName}.woff) format('woff');
    }`
  style=cssFontRule

//- —OR—
//- link(
  rel="preload"
  href="./scss/fonts.scss" as="style"
  onload="this.onload=null;this.rel='stylesheet'")
  noscript: link(rel="stylesheet" href="./scss/fonts.scss")
