//- ----------------------------------------------------------------------------
    This file defines the information architecture of the website, i.e.
    splitting the data into reusable chunks/fragments and formatting in relation
    to pre-defined component props.
    ----------------------------------------------------------------------------
-
  // ¯\_(ツ)_/¯ = &macr;&bsol;&lowbar;&lpar;\u30C4&rpar;&lowbar;&sol;&macr;
  const asciiArt = '\u00AF\u005C\u005F\u0028\u30C4\u0029\u005F\u002F\u00AF'
  const alert = 'NO JS‽'
  const alertDesc = `В вашем браузере выключен JavaScript, из-за этого функционал некоторых элементов будет ограничен, например, переключение слайдов, отправка формы, интернет-эквайринг и т. п. ${asciiArt}`
  const alertAction = 'OK'
-
  // SP(s)
  const social = [
    {
      'icon': 'vk',
      'href': 'https://vk.com/',
      'prop': 'sameAs'
    }, {
      'icon': 'ig',
      'href': 'https://www.instagram.com/',
      'prop': 'sameAs'
    }
  ]
-
  const contacts = [
    {
      'icon': 'tel', // &tel; or &phone;
      'phone': data.meta.phone || '+7'
    }, {
      'icon': 'at', // &commat;
      'email': {
        'to': data.meta.email,
        'subject': '',
        'body': ''
      }
    }
  ]
-
  /**
    Usage:
    → offer.pug
    → payment.pug
    → privacy.pug
   */
  const meta = {
    'saller': 'ИП Тарабрина Таисия Витальевна',
    'number': 'ИНН 501005401604 / ОГРНИП 317500700012752',
    'adds': [
      '141980, МО, г. Дубна, ул. Мещерякова, 18, кв. 4'
    ],
    'email': data.meta.email,
    'phone': '+7 903 286–47–05'
  }
-
  // Navigation anchors
  const hashLinks = [
    {
      'title': 'Преподаватель',
      'path': '#educator',
    }, {
      'title': 'Кому подойдёт',
      'path': '#benefits',
    }, {
      'title': 'Что будет на курсе',
      'path': '#outline',
    }, {
      'title': 'Чему вы научитесь',
      'path': '#teaches',
    }, {
      'title': 'Расписание занятий',
      'path': './agenda',
    }
  ]
-
  // Intent • (Намерение | Цель | Замысел)
  // Основная задача продюсера — обеспечить съёмочной группе условия (для съёмок/работы), создать ей условия для успешной реализации творческой задачи (сверхзадачи).
  const quote = `Чтобы качественно организовать съёмочный процесс, нужна суперсила, которой обладает один человек${spacedEmDash}продюсер.`
-
  // Title • (lead | subtitle)
  const intro = {
    'head': ['Профессия', 'продюсер'],
    'body': `${quote} На авторском курсе Тая Тарабрина расскажет, как воплощать креативные идеи в жизнь${spacedEmDash}инсайты гарантированы.`
  }
-
  // teacher / lecturer / instructor / tutor / educator / author
  const educator = {
    'name': 'Тая Тарабрина',
    'cv': [
      `Ведущая курса${spacedEmDash}продюсер, основатель продакшн-агенства TAYAT.`,
      'За 14 лет работы в индустрии Тая успешно реализовала множество медийных проектов, в том числе съёмки для, таких изданий как: Achtung Zeitschrift für Mode, Condé Nast, Dazed & Confused, Esquire, Hello! Icons, L\u2019Officiel, Port, TSUM Magazine и т. д.',
      'Продюсерская компания Таи заслужила доверие клиентов из разных сфер мировой индустрии, например: Adidas, Gucci, Mercedes, Mercury, Nike, Sberbank, TSUM, Tsvetnoy, Xiaomi, Yandex и т. д.'
      // …, такие бренды как: Adidas, Diego dalla Palma, Gucci, Krokus, Mercedes, Mercury, Nike, Rouge Bunny Rouge, Sberbank, Snow Queen, TSUM, Tsvetnoy, Xiaomi, Yandex…
    ]
  }
-
  // https://schema.org/audience
  // Target (audience | area | market | sphere)
  // Преимущества для специалистов из различных сфер деятельности (ЦА)
  // Кому… (будет полезен | пойдёт на пользу | поможет) • Who will benefit?
  // На кого рассчитан курс?
  const benefits = [
    {
      'text': 'Всем, кто хочет освоить одну из самых востребованных профессий в рекламной индустрии',
    }, {
      'text': 'Начинающим продюсерам, которые хотят повысить свою медиаграмотность и получить фидбек от практикующих специалистов',
    }, {
      'text': 'Фотографам, стремящимся запустить собственный медиапроект',
    }, {
      // 'Заинтересованным в повышении медиаграмотности и создании качественных решений для клиентов, креативным специалистам',
      'text': 'Специалистам по визуальным коммуникациям, заинтересованным в создании актуального и вовлекающего контента',
    }
  ]
-
  // Course (short) outline | Brief of program | Summary | What's inside
  // Кратко(е) (содержание | изложение | описание) программы курса
  // Что будет на курсе?
  const outline = [
    'За 6 занятий вы пройдёте полный цикл продюсирования медиапроекта, следуя по цепочке:',
    'идея → бюджетирование → пре-продакшн → съёмка → пост-продакшн.',
    'Выполните ряд практических заданий, охватывающих широкий спектр задач по организации съёмочного процесса, разберёте реальные кейсы и добавите в портфолио 4 собственные съёмки.'
  ]
-
  // Invited Expert(s)
  const speakers = [
    {
      'text': 'Важным дополнением курса станут встречи с практикующими специалистами из индустрии медиа:'
    }, {
      'text': `Модельный скаут и кастинг-директор${spacedEmDash}Илья Вершинин${spacedEmDash}объяснит правила работы с модельными агентствами.`,
      'icon': '\😍'
    }, {
      'text': `Основатель агенства Eight${spacedEmDash}Наиля Синицина${spacedEmDash}расскажет о том, как работать с фотографами.`,
      'icon': '\🤩'
      //- 'link': 'https://eight-agency.com/'
    }, {
      'text': `Юрист${spacedEmDash}Нина Белослудцева${spacedEmDash}прочитает лекцию по авторскому праву и разберёт все необходимые документы.`,
      'icon': '\😎'
    }
  ]
-
  // https://schema.org/teaches
  // https://github.com/schemaorg/schemaorg/issues/2427
  // what the resource is intended to help someone learn
  const teaches = [
    {
      // 'Составлять брифы и находить общий язык с клиентами',
      'text': 'Понимать брифы, цели и задачи клиента',
      //- 'icon': '\🎯'
    }, {
      // 'Грамотно составлять сметы и планировать сроки',
      'text': 'Грамотно планировать сроки и распределять бюджет',
      //- 'icon': '\⏱️'
    }, {
      'text': 'Собирать команду и эффективно выстраивать рабочий процесс',
      //- 'icon': '\🪄'
    }, {
      'text': 'Продюсировать как творческие, так и коммерческие съёмки',
      //- 'icon': '\💫'
    }, {
      'text': 'Ориентироваться в «интеллектуальной собственности»',
      //- 'icon': '\🎓'
    }
  ]
-
  // syllabus
  // Schedule & workshops
  // Расписание/график/план/программа
  // занятий/мастер-классов/семинаров/практикумов/симпозиума/курса
  const agenda = [
    {
      'date': '3 ноября',
      'listTitle': 'Вводное занятие',
      'listItems': [
        {
          'text': `Продакшн${spacedEmDash}организация всего съёмочного процесса${spacedEmDash}от кофе для команды до вертолетов`,
          'icon': BULL
        }, {
          'text': 'Построение процесса: идея (бриф) → бюджетирование → пре-продакшн → съёмка → пост-продакшн',
          'icon': BULL
        }, {
          'text': 'Основные вопросы: Кто, что и как снимает?',
          'icon': BULL
        }
      ]
    }, {
      'date': '10 ноября',
      'listTitle': 'Пре-продакшн',
      'listItems': [
        {
          'text': 'Получение брифа и разбор "по косточкам"',
          'icon': BULL
        }, {
          'text': 'Студия VS Локация',
          'icon': BULL
        }, {
          'text': 'Оборудование и декорации',
          'icon': BULL
        }, {
          'text': 'Реквизит, животные и машины',
          'icon': BULL
        }, {
          'text': 'Охрана',
          'icon': BULL
        }, {
          'text': 'Спецэффекты (SFX)',
          'icon': BULL
        }, {
          'text': 'Travel-съёмка',
          'icon': BULL
        }, {
          'text': 'Вызывной',
          'icon': BULL
        }
      ]
    }, {
      'date': '17 ноября',
      'listTitle': 'Пре-продакшн: команда',
      'listItems': [
        {
          'text': 'Фотограф',
          'icon': BULL
        }, {
          'text': 'Стилист',
          'icon': BULL
        }, {
          'text': 'Визажист',
          'icon': BULL
        }, {
          'text': 'Парикмахер',
          'icon': BULL
        }, {
          'text': 'Сет-дизайнер',
          'icon': BULL
        }, {
          'text': 'Проп-стилист',
          'icon': BULL
        }, {
          'text': 'Кейтеринг',
          'icon': BULL
        }, {
          'text': 'Маникюр',
          'icon': BULL
        }, {
          'text': 'Модель и кастинг',
          'icon': BULL
        }
      ]
    }, {
      'date': '24 ноября',
      'listTitle': 'Съёмка и пост-продакшн',
      'listItems': [
        {
          'text': 'Тайминг',
          'icon': BULL
        }, {
          'text': 'Любовь к деталям и развлечение клиента на площадке',
          'icon': BULL
        }, {
          'text': 'Мониторинг работы каждого департамента',
          'icon': BULL
        }, {
          'text': 'Решение оперативных задач',
          'icon': BULL
        }, {
          'text': 'Пост-продакшн: ретушь, композитинг и превизуализация',
          'icon': BULL
        }, {
          // 'Контроль сроков/качества, адекватности комментариев'
          'text': 'Хронометраж и соответствие требованиям',
          'icon': BULL
        }, {
          'text': 'Три итерации',
          'icon': BULL
        }, {
          // Синемаграфы
          'text': 'Синемаграфия как среднее между фото и видео',
          'icon': BULL
        }, {
          'text': 'Нюансы работы с форматом',
          'icon': BULL
        }, {
          'text': 'Кредиты',
          'icon': BULL
        }
      ]
    }, {
      'date': '1 декабря',
      'listTitle': 'Подготовка к итоговому заданию',
      'listItems': [
        {
          'text': 'Встреча-сюрприз',
          'icon': BULL
        }
      ]
    }, {
      'date': '8 декабря',
      'listTitle': 'Рутина',
      'listItems': [
        {
          'text': 'Коммерческие тендеры',
          'icon': BULL
        }, {
          'text': 'Суббординация и тонкости работы на рекламных съёмках',
          'icon': BULL
        }, {
          'text': 'Авторское право',
          'icon': BULL
        }, {
          'text': 'Иностранный опыт',
          'icon': BULL
        }
      ]
    }, {
      'date': '15 декабря',
      'listTitle': 'Финальный просмотр',
      'listItems': [
        {
          'text': 'Презентация итоговых работ',
          'icon': BULL
        }, {
          'text': 'Открытый разбор', // итогового задания
          'icon': BULL
        }
      ]
    }
  ]
-
  // https://schema.org/worksFor
  // Editorial (эдиториал для журналов/изданий)
  const slides1 = [
    {
      'title': 'Универмаг «Цветной»',
      'field': [{
        'text': { 'Фотограф': 'Ян Югай' },
      }, {
        'text': { 'Рекламная кампания': 'Распродажа 2021' },
        'link': 'https://www.tsvetnoy.com/events/192'
      }]
    }, {
      // 'title': '«ТД ЦУМ» Журнал',
      'title': 'Журнал «ЦУМ»',
      'field': [{
        'text': { 'Фотограф': 'Эрик Панов' },
      }, {
        'text': { 'Издание': 'ЦУМ весна-лето 2019' },
        'link': 'https://www.tsum.ru/about/magazine/8705178.html'
      }]
    }, {
      'title': 'Nike',
      'field': [{
        'text': { 'Фотограф': 'Маша Демьянова' },
        'link': 'https://mashademianova.com/nike/jerseys'
      }]
    }, {
      'title': '«Мега»',
      'field': [{
        'text': { 'Фотограф': 'Дима Чёрный' },
      }, {
        'text': { 'Издание': 'The Village' },
      }]
    }, {
      // '«ЦУМ/TSUM» Рекламное СМИ, информация о моде, красоте.',
      'title': 'Журнал «ЦУМ»',
      'field': [{
        'text': { 'Фотограф': 'Павел Харатьян' },
      }, {
        'text': { 'Издание': 'ЦУМ осень-зима 2019/20' },
        'link': 'https://www.tsum.ru/about/magazine/10517006.html'
      }]
    }, {
      'title': 'Flacon',
      'field': [{
        'text': { 'Фотограф': 'Анна Гончарова' },
      }, {
        // 'Внутренняя империя // Flacon. — 2021'
        'text': { 'Издание': 'Flacon.\u2006\u2014\u20062021' },
        'link': 'https://flacon-magazine.com/novosti/4023698-s-emka-triller-vnutrennie-demony-glazami-fotografa'
      }]
    }, {
      'title': 'Универмаг «Цветной»',
      'field': [{
        'text': { 'Фотограф': 'Маша Попова' },
      }, {
        'text': { 'Рекламная кампания': 'Распродажа 2022' },
        'link': 'https://www.tsum.ru/about/magazine/8705178.html'
      }]
    }, {
      // 'Jil Sander für ACHTUNG Mode',
      //- 'title': ['Simple.','Sensual.','Sander.'],
      'title': 'Simple. Sensual. Sander.',
      'field': [{
        'text': { 'Фотограф': 'Евгений Шишкин' },
        'link': 'https://eugeneshishkin.com/achtung-magazine'
      }, {
        'text': {
          // 'ACHTUNG Zeitschrift für Mode | N° 37'
          // 'Gute Nacht! // Achtung Mode. — 2019. — № 37.'
          'Издание': 'Gute Nacht!\u2006//\u2006Achtung.\u2006\u2014\u2006№ 37'
        },
        'link': 'https://www.achtung-mode.com/archive'
      }]
    }, {
      // 'Gosha Rubchinskiy: World in Motion',
      'title': 'Гоша Рубчинский X Adidas',
      'field': [{
        'text': { 'Фотограф': 'Эндрю Миксис' },
        'link': 'https://www.dazeddigital.com/user/AndrewMiksys'
      }, {
        // 'Dazed Summer 2018'
        'text': { 'Издание': 'Dazed.\u2006\u2014\u20062018' },
        'link': 'https://www.dazeddigital.com/the-summer-2018-issue'
      }]
    }, {
      'title': 'TSUM Show',
      'field': [{
        'text': { 'Фотограф': 'Павел Харатян' },
      }, {
        'text': { 'Издание': 'ЦУМ Fashion Show осень-зима 2019/20' },
        'link': 'https://www.tsum.ru/lp/fashionshow-fw19-20/'
        // 'https://style.rbc.ru/items/5dd3c2d59a7947f06c475c25'
      }]
    }
  ]
-
  // Campaings (рекламные кампании)
  const slides2 = [
    {
      'title': 'Elle X Xiaomi',
      'field': [{
        'text': {'Фотограф': 'Евгений Шишкин'},
      }]
    }, {
      // Внутренняя империя
      'title': 'Flacon',
      'field': [{
        'text': {'Фотограф': 'Анна Гончарова'},
      }]
    }, {
      'title': 'The Rake X Gucci',
      'field': [{
        'text': {'Фотограф': 'Эрик Панов'},
      }]
    }, {
      'title': 'Level',
      'field': [{
        'text': {'Арт-директор и фотограф': 'Ян Югай'},
      }]
    }, {
      'title': 'Яндекс Такси',
      'field': [{
        'text': {'Фотограф': 'Виктор Горбачёв'},
      }]
    }, {
      'title': 'MODI',
      'field': [{
        'text': {'Фотограф': 'Дмитрий Журавлёв'},
        // 'link': 'https://paragonretouch.com/projects/modi/'
      }]
    }, {
      'title': 'HUF Magazine',
      'field': [{
        'text': {'Фотограф': 'Евгений Дюжакин'},
      }]
    }
  ]
-
  // Source: https://docs.google.com/spreadsheets/d/1HOvpgKzOMoEMnCkoSmcj6r6bl-BtI2z25_b1lbfX8Io
  // Format:
  // • https://www.rfc-editor.org/rfc/rfc3339#section-5.6
  // • https://www.w3.org/TR/2014/REC-html5-20141028/text-level-semantics.html#the-time-element
  const reviews = [
    {
      'date': '8-14-2022T11:55:09',
      'rating': 5,
      'title': 'Курс работает супер!',
      'text': [
        'Я как фотограф конечно организовывал свои творческие сьёмки, но даже в них были упущения. Не говоря уже о полноценных коммерческих проектах.',
        `После курса Таи я провел как продюсер уже ни одну рекламную съёмку и внутри был приятный трепет! Очень здорово, когда все пунктики учтены, все моменты соблюдены и команда, и клиент говорят тебе: «Как круто ты всё организовал!»${spacedEmDash}лучший фидбек, который может быть. \🤩 Огромное спасибо Тае! \🔥\🔥\😎`,
      ],
      'user': {
        'name': 'Дима Куб',
        'link': 'https://dimacube.ru/about-me'
      }
    }, {
      'date': '8-14-2022T12:40:32',
      'rating': 5,
      'title': 'Лучший курс, на котором я была!',
      'text': [
        `Глубокий и чётко структурированный материал, никакой лишней воды. Легкоусваиваемая подача, практические задания и каждую неделю бонус${spacedEmDash}приглашённые специалисты. Помимо профессионализма, у Таи невероятная харизма, что очень вдохновляет.`,
        'Курс окупает себя более чем, подойдёт как новичкам, желающим вникнуть в профессию, так людям из индустрии. Новые важные знания гарантированно получите! Даже жалко было заканчивать… хочется «вторую серию». Спасибо большое!'
      ],
      'user': { 'name': 'Ольга Логинова' }
    }, {
      'date': '8-17-2022T11:36:29',
      'rating': 5,
      'title': 'Прекрасный курс!',
      'text': [
        'Теория и практика очень мощно подкреплены реальными примерами и историями из жизни продюсера. По ходу выполнения заданий собирается портфолио и, если появится смелость, то домашку можно выполнить предложив какому-то бренду съёмку. \😉',
        `Тая чудесный оратор, всё по полочкам, глаза горят, безумно интересно слушать. Главное${spacedEmDash}слушать внимательно, записывать, выполнять ДЗ и всё получится!`
      ],
      'user': { 'name': 'Лиза Шелабина' }
    }, {
      'date': '8-17-2022T11:36:29',
      'rating': 5,
      'title': 'Чётко, прозрачно и эффективно',
      'text': [
        'Курс Таи стал новой вехой в понимании моего места в сферах искусства и рекламы. До него я долго искала своё дело: снимала, работала с людьми, налаживала процессы на производстве.',
        `Тут, я получила не только базовые знания для организации рекламной съёмки, но и понимание рынка. Познакомилась с ведущими специалистами из рекламной индустрии и получила обратную связь по всем выполненным заданиям. Узнала множество нюансов пред- и пост-продакшена и в итоге${spacedEmDash}стала частью команды TAYAT. \😄`,
        'Уверена, с такими навыками возможно организовать всё что угодно: выставку, модный показа или открытие ресторана. Меня не пугают новые задачи и трудности в работе потому, что теперь я могу отладить рабочий процесс и собрать команду спецов. Под руководством Таи я учусь у профессионалов: работать чётко, прозрачно и эффективно.'
      ],
      'user': { 'name': 'Влада Гелетко' }
    }, {
      'date': '8-21-2022T20:51:02',
      'rating': 5,
      'title': 'Если ещё думаете, оно того стоит!',
      'text': [
        // `Проходила курс летом 2021. За этот год моя жизнь повернулась на 180 градусов${spacedEmDash}однозначно, благодаря курсу и Тае лично. \🤍`,
        `Обучение построено так, что ты погружаешься в профессию с головой. Одновременно учишься на чужих ошибках и набиваешь свои, во время выполнения домашних заданий. Теория, практика, разбор реальных кейсов, актуальная информация по рынку и регулярная обратная связь. Тут просто невозможно ничему не научиться.`,
        'Придя на курс, я работала маркетологом в офисе и никак не была связана с продюсированием. В итоге побывала на съёмках Яндекса, а затем стала частью прекрасного проекта и продолжаю пользоваться приобретённым на курсе каждый день. Так что если ещё думаете, оно того стоит! \😉'
      ],
      'user': { 'name': 'Олеся Куликовская' }
    }, {
      'date': '8-22-2022T21:37:00',
      'rating': 5,
      //- 'title': 'Cупер-находка для тех, кто хочет стать продюсером',
      'title': 'Cупер-находка',
      'text': [
        'По-моему, нет ничего похожего на этот курс, супер-находка для тех, кто хочет стать продюсером. Можно войти в индустрию или наладить работу собственного агенства.',
        `Очень круто организован процесс обучения. Информация передаётся очень грамотно и без воды. На каждом занятии узнаёшь массу нового, а после${spacedEmDash}выполняя домашку, можно закрепить полученные знания на практике. Ещё есть возможность побыть ассистентом продюсера на реальной съёмке TAYAT. \😎 Ну и, конечно, можно получить приглашение на работу в продакшене${spacedEmDash}если стараться.`,
        `Курс Таи${spacedEmDash}любовь. \😍 Думаю, одно из лучших моих вложений.`
      ],
      'user': { 'name': 'Тая Николаева' }
    }
  ]
